* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("G:/Web Development Udemy Course/Web development/social-proof-section-master/images/bg-pattern-top-desktop.svg");
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  flex-wrap: wrap;
}

.top h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.top p {
  font-size: .9rem;
}

.customer-rating {
  display: flex;
  flex-wrap: wrap;
  background-color: #F7F2F8;
  padding: .7rem 1.5rem;
  margin-top: .8rem;
  font-size: .7rem;
  align-items: center;
  border-radius: 10px;
}

.rating-img {
  margin-right: 1rem;
}

.rating-2nd {
  margin-left: 1rem;
}

.rating-3rd {
  margin-left: 2rem;
}

.bottom-ratings {
  margin-top: 50px;
}

.rating-card {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 300px;
  height: 150px;
  background-color: #502050;
  margin-right: 1rem;
  padding: 20px 10px;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  width: 50px;
  height: auto;
  border-radius: 100px;
  margin-right: 1rem;
}

.profile h3 {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 3;
}

.profile h5 {
  font-size: .7rem;
  color: #ee68a4;
  font-weight: 500;
}

.review p {
  font-size: .7rem;
  color: #fff;
  margin-top: 10px;
  font-weight: 300;
  line-height: 1.1rem;
}

.rating-card-1 {
  margin-top: 1rem;
}

.rating-card-2 {
  margin-top: 2rem;
}

.rating-card-3 {
  margin-top: 3rem;
}

.bottom-ratings {
  background-image: url("G:/Web Development Udemy Course/Web development/social-proof-section-master/images/bg-pattern-bottom-desktop.svg");
}

.attribution {
  margin-top: 1rem;
  margin-bottom: .5rem;
}

@media only screen and (max-width: 600px) {
  .top h1 {
    font-size: 2rem;
    margin-top: 1rem;
    text-align: center;
    background-image: url("G:/Web Development Udemy Course/Web development/social-proof-section-master/images/bg-pattern-top-mobile.svg");
  }

  .top p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px
  }

  .rating-2nd {
    margin-left: 0;
  }

  .rating-3rd {
    margin-left: 0;
  }

  .rating-img {
    margin-right: 0;
  }

  .customer-rating {
    justify-content: center;
  }

  .rating-card {
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
  }

  .card {
    width: 100%;
    margin-top: 1rem;
    margin-right: 0;
  }

  .bottom-ratings {
    margin-top: 0;
    margin-bottom: 1rem;
    background-image: url("G:/Web Development Udemy Course/Web development/social-proof-section-master/images/bg-pattern-bottom-mobile.svg");
    background-position: bottom;
  }
}
